body {
    background-image: url("../img/fondotdc.jpg");
    background-position: center;
    background-size: cover;
}

body, header, h1{
    margin: 0;
    padding: 0;
}


H1 {
    font-family: 'Kaushan Script', cursive;    
    font-size: 80px;
    color: #e6e6e6; 
    text-transform: uppercase;
}

.centrado{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 100%;
    text-align: center;
}

#cuerpo {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 100%;
    text-align: center;
}

h1 span {
    color:#FF4800;
    font-size: 50px;
    top: -25px;
    position: relative;
}

#caja1 {
    background-color: #248397;
    margin-bottom: 60px;
}

button {
    color: rgb(239, 65, 35);
    border-color: rgb(239, 65, 35);
    background-color: rgba(255, 255, 255, 0.5);
    height: 38px;
}

button:hover {
    border:3px solid ;
    background-color:#FF4800;
    border-color: #ffffff;
    color: #ffffff 

}

fieldset {
    border-radius: 10px;
    background:rgba(239,65,35,0.8);
    width: 280px;
    height: 280px;
    text-align: center top;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}


h1 p, legend {
    font-size: 20px;
    color: #383737;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

h1 p{
    margin: 0px;
    padding-bottom: 20px;
    color: #a8e1ec;
}

input {
    height: 40px;
    width: 250px;
    border-radius: 5px;
    margin-top: 10px;
}

#mes {
    height: 40px;
    width: 175px;
    border-radius: 5px;
    margin-top: 10px;
}

#ano {
    height: 40px;
    width: 75px;
    border-radius: 5px;
}

#error {
    box-sizing: border-box;
    padding: 10px 20px;
    background-color: red;
    color: white;
    width: 100%;
    display: none;
    margin-top: 10px;
    border-radius: 3px;

}
  
#exito {
    box-sizing: border-box;
    padding: 10px 20px;
    background-color: rgb(56, 141, 56);
    color: white;
    width: 100%;
    display: none;
    margin-top: 10px;
    border-radius: 3px;
}